# Função print 
Serve para exibir informações na tela.

- Sintaxe base

print(object(s),sep =separator,end=end,file=file,flush=flush

In [11]:
print("Olá, sou o assistente de atendimento. Como você se chama?")
nome = input()
print("Ola,"+ nome + ". Em que posso ajudar?")

Olá, sou o assistente de atendimento. Como você se chama?

 Carol

Ola,Carol. Em que posso ajudar?

- sep : separador, que especifica como juntar os objetos
- sep ="," vai colocar , no meio das strings

In [12]:
print('Ola mundo','Eu sou a Carolina', 'Esse é um curso de python para análise de dados',sep = ",")

Ola mundo,Eu sou a Carolina,Esse é um curso de python para análise de dados

- end : caractere que fica no fim da linha

In [13]:
print("Ola")
print("Tchau")

Ola
Tchau

In [14]:
print("Ola", end =" ")  # não pula a linha, somente dá um espaço ou qlq coisa que eu colocar no end
print("Tchau")

Ola Tchau

# Função input
Sintaxe : input(prompt='')
Parametros: prompt(opcional,padrao:*) 
- Exibe uma mensagem antes do usuário para fornecer contexto

In [15]:
idade = input("Qual a sua idade?")
print(idade)

Qual a sua idade? 15

15

In [16]:
nome = input ("Olá, sou o assistente de atendimento. Como você se chama?")
print("Ola,"+ nome + ". Em que posso ajudar?")

Olá, sou o assistente de atendimento. Como você se chama? Carol

Ola,Carol. Em que posso ajudar?

# Comentários
Um texto que não é código, onde devemos colocar informações sobre o que o código faz

In [17]:
""" 
comentário grande 
1.
2.
3.
bla bla bla
bla bla bla
"""

' \ncomentário grande \n1.\n2.\n3.\nbla bla bla\nbla bla bla\n'

# Variáveis
Uma "caixa" que usamos para armazenar uma informação, pode ser número, texto, imagem, tabela, etc.
é um dado registrado na memória do computador.

## Atribuição
É o ato de registrar uma informação em uma variável, em py usamos = (colocar a informação)

In [20]:
# variavel_Destino =informacao_origem # salvamos a informação na variavel

In [ ]:
a = 2 #(atribui a variável a, a informação 2)

In [ ]:
print(a)

# Tipos de dados
Númer, texto, etc

Verificar o tipo de dado em python é feito através de  type(). Ele recebe como argumento uma variáavel ou objeto qualquer (texto,numero,etc)

## Números inteiros (int)
São os que não tem  parte  decimal, incluindo os  negativos. Em py, para criar um número inteiro basta escrever o número  sem o ponto.

In [ ]:
x = 2
y = 5

In [ ]:
print(type(x))
print(type(y))

## Números com parte decimal, ponto flutuante(float)
Números com parte decimal (1.2) são chamados de float em programação. Eles são definidos digitando um número com ponto(.)

In [ ]:
p = 1.2
e = 3.14

In [ ]:
print(type(p))
print(type(e))

## Texto (string)

Uma string é feninida pelo uso de "" bi inicio e fim do texto em questão, seja elas  simples ('') ou duplas ("").

In [ ]:
nome = 'Ana Carolina'
print (nome)

In [10]:
classe = '15'  #string não pode ser usado para operações
print(classe)
print(type(classe))

15
<class 'str'>

## Booleanos (bool)
São variáveis que assumem dois possíveis valores: verdadeiro (true) e falso (false). Podemos definir uma variável booleana com essas palavras reservadas, incluindo as letras maiúsculas.

In [22]:
b1 = False
b2 = True

In [23]:
print(type(b1))
print(type(b2))

<class 'bool'>
<class 'bool'>

# Operações básicas

* Adição
* Subtração
* Multiplicação
* Divisão
* Exponenciação
* Divisão Inteira
* Módulo (resto)

## Soma

In [26]:
a = 2 + 5
print(a)

7

## Subtração

In [27]:
a = 7
b = 2
c = a - b
print(c)

5

## Multiplicação

In [28]:
f = 8
g = 2
h = f * g
print(h)

16

## Divisão

In [33]:
idade_ana = 36
idade_fernanda = 34
soma_idades = idade_ana + idade_fernanda

print(soma_idades)

media = (soma_idades) / 2
print(media)

70
35.0

## Exponenciação

In [34]:
var1 = 5** 2
print(var1)

25

## Módulo

In [37]:
c = a/b #divisão simples
print(c)

3.5

In [35]:
c = a//b  # divisão inteira - só pega a parte inteira
print(c)

3

In [36]:
c = a%b # só pega o resto
print(c)

1

## Funções matemáticas (biblioteca math)
* Rauz quadrado (math.sqrt)
* Fatorial (math.factorial)
  
https://docs.python.org/pt-br/3.13/library/math.html

In [39]:
import math  # importar a  bibliotecqa

In [40]:
math.sqrt (17)

4.123105625617661

In [42]:
math.factorial(7)

5040

## Ordem de precedência

Segue a ordem de precedência matemática comum
* 1 - ** exponenciação
* 2- *, /, //, % Multiplicação, divisão, divisão inteira e módulo
* 3 - +, - Adição e subtração

Usar parenteses () se quiser organizar em outra ordem

### Valor presente
Suponha que você deseja saber quanto precisa investir hoje para alcançar um montante específico no futuro (R$1000), dado uma taxa de juros anual (5%) composta em um periodo de 10 anos.

PV = FV/(1+r)**n

Onde:
* PV é o valor presente.
* FV é o valor futuro
* r é a taxa de juros em decimal
* n é o número de anos

In [92]:
valor_futuro = 1000
r = 0.05
n = 10

valor_presente = valor_futuro/((1+r)**n)

print(valor_presente)

613.9132535407591

# String - Cadeia de  caracteres

* lower ()
* upper()
* strip ()
* replace()
* startswith()
* endswith()
* find()
* len()
* title()
* split()
* join()

In [63]:
nome_exemplo = 'Machado de Assis'
nome_exemplo

'Machado de Assis'

## Método lower = deixa tudo no minúsculo

In [47]:
nome_exemplo.lower ()

' machado de assis'

## Método upper = deixa tudo no maiúsculo

In [48]:
nome_exemplo.upper ()

' MACHADO DE ASSIS'

## Método strip = Limpa espaços no início e fim da string

In [50]:
exemplo_strip = "   Carol     "

In [52]:
print(exemplo_strip)

   Carol

In [53]:
exemplo_strip.strip()

'Carol'

## Método replace = substituir uma string

In [55]:
nome_exemplo.replace('Machado','Martelo')

' Martelo de Assis'

## Método startswith = Verifica se a string começa com a subtring desejada

In [65]:
nome_exemplo.startswith('M')

True

In [61]:
print(nome_exemplo)

 Machado de Assis

In [64]:
nome_exemplo.startswith('R')

False

## Método endswith = Verifica se a string termina com a subtring desejada

In [68]:
nome_exemplo.endswith('A')

False

In [71]:
nome_exemplo.endswith('s')

True

## Método find = Encontrar a posição da substring

In [72]:
nome_exemplo.find('de')

8

## Função len = Encontrar o tamanho da string

In [75]:
len(nome_exemplo)

16

## Método title = Coloca cada palavra com a primeira letra maiuscula

In [76]:
nome_exemplo.title()

'Machado De Assis'

## Método split = separa uma string por uma substring

In [77]:
nome_split = nome_exemplo.split(' ')

In [78]:
print(nome_split)

['Machado', 'de', 'Assis']

In [79]:
type(nome_split)

list

In [81]:
nome_split[1]

'de'

## Método join = Junta os elementos de lista com o parametro passado

In [82]:
'-'.join(nome_split)

'Machado-de-Assis'

In [83]:
'TT'.join(nome_split)

'MachadoTTdeTTAssis'

## Indexação de string

In [84]:
nome_exemplo

'Machado de Assis'

In [86]:
nome_exemplo[0] # pega a letra que esta na 1 posição

'M'

In [87]:
nome_exemplo[5]

'd'

In [88]:
nome_exemplo[3:7] # pega a letra que esta na 6 posição

'hado'

In [89]:
nome_exemplo[-1 #pega de trás para frente

's'

# Formatação de string

In [94]:
" O valor presente é {}".format(valor_presente)

' O valor presente é 613.9132535407591'

In [96]:
f'O valor presente é {valor_presente}'

'O valor presente é 613.9132535407591'

In [97]:
f'O valor presente é {valor_presente:.2f}'

'O valor presente é 613.91'

### Exemplo

Padronizar o nome completo, e extrair o comprimento.

In [100]:
nome_completo ='  Ana carolina jacoby  '
nome_completo = nome_completo.strip() #retirar os espaços
nome_completo = nome_completo.title() # colocar maiuscula em cada nome
print(nome_completo)

Ana Carolina Jacoby

In [101]:
nomes = nome_completo.split(' ')
print(nomes)

['Ana', 'Carolina', 'Jacoby']

In [102]:
print(nomes[0])

Ana

In [103]:
len(nome_completo)

19

# Booleanos - Operações lógicas
* é igual a
* é maior que
* é menor que
* é diferente de
* é maior ou igual a
* é menor ou igual a

In [104]:
idade = 30

In [105]:
idade > 18 # a>b verifica se a é maior que b

True

In [106]:
idade < 60 # a<b verifica de a é menor que b

True

In [107]:
idade == 40 # a==b  verifica se é igual

False

In [108]:
idade!= 40 # a!=b Verifica se a é diferente de b

True

In [109]:
idade>= 18 #verifica se é maior ou igual

True

In [110]:
idade <= 60 #verifica se é menor ou igual

True